/Logs
/obj
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/WorkShop.sln
/.vs
/Library
/Temp
/UserSettings
/__OFF/OldKeyboardToJson/.vs
/__OFF/OldKeyboardToJson/OldKeyboardToJson/bin
/__OFF/OldKeyboardToJson/OldKeyboardToJson/obj
